<div id = "header">
<h1>3D Printing Encryption </h1>
</div>

<p><%= link_to "Sign Up", "/users/new", method: :get%></p>
<p><%= link_to "Login", "/sessions/new", method: :get%></p>

<p><b>Users:</p>
<% @users.each do |user| %>

  <p><%= link_to user.username, user_url(user.id), method: :get %></p>



<% end %>

<style>
#header{
	background-color: black;
	color:white;
	text-align: center;
	padding: 5px;
}