<div id = "header">
<h1>3D Printing Encryption </h1>
</div>
<h1>Sign Up</h1>

<p style="color: red;"><%= flash[:errors] %></p>

<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  Username
  <input type="text" name="user[username]">
  Password
  <input type="password" name="user[password]">

  <input type="submit">

</form>
<style>
#header{
	background-color: black;
	color:white;
	text-align: center;
	padding: 5px;
}
</style>
<p style= "float: left;" ><%= link_to "Home", root_url, method: :get %></p>