<head>
  <title>3DPrinting Encryption</title>
</head>

<body style= "margin:0px; padding:0px; font-family:'Trebuchet MS', verdana;">

<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
<tr>

  <!-- ========Header Section ============-->
  <td colspan="3" style ="height:100px;" bgcolor="#777d6a">
    <h1>3D Printing Encryption</h1></td></tr>

 <tr>
 <!-- ========Left Column (Menu)=========-->
 <td width="20%" valign = "top" bgcolor= "#999f8e">
<p style= "float: left;" ><%= link_to "Home", root_url, method: :get %></p>
</td>

<!-- ========Middle Column (Content)=========-->
<td width="55%" valign="top" bgcolor= "#dsd8c7">
<h2> Sign Up</h2>
<p style="color: red;"><%= flash[:errors] %></p>

<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  Username
  <input type="text" name="user[username]">
  Password
  <input type="password" name="user[password]">

  <input type="submit">

</form>
<h3>Already have an account? Create one by clicking the link below.</h3>
<p><%= link_to "Login", "/sessions/new", method: :get%></p>
</td>

<!-- ========Right Column (Pictures)=========-->
<td width="25%" valign="top" bgcolor="#999f8e">

<p><img src="https://pbs.twimg.com/profile_images/2260491801/ava_400x400.png"alt ="3d printer" style="width:304px;height:228px;"></p>
<p> <img src="http://easttec.wpengine.netdna-cdn.com/wp-content/uploads/images/products/invisiblesecrets/features/encrypt.png"alt ="3d printer" style="width:304px;height:228px;"></p> 
<p><img src="https://cdn2.iconfinder.com/data/icons/seo-web-optimization-ultimate-part1/512/file_sharing-512.png"alt ="3d printer" style="width:304px;height:228px;"></p> ></p>
</td>
</tr>

<!-- ========Footer Section=========-->
<tr><td colspan="3" align="center" height="20" bgcolor="#777d6a">Copyright © The Squad</td></tr>
<table>
</body>

