<head>
  <title>3DPrinting Encryption</title>
</head>

<body style= "margin:0px; padding:0px; font-family:'Trebuchet MS', verdana;">

<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
<tr>

  <!-- ========Header Section ============-->
  <td colspan="3" style ="height:100px;" bgcolor="#777d6a">
    <h1>Welcome, <%= @user.username %></h1>

 <tr>
 <!-- ========Left Column (Menu)=========-->
 <td width="20%" valign = "top" bgcolor= "#999f8e">
<p> Upload a file</p>
<p> View files</p>
<p> Share a file</p>
<p> Shared with me</p>
<p> Friends</p>
<p><%= link_to "Logout", "/sessions", method: :delete %></p>
</td>

<!-- ========Middle Column (Content)=========-->
<td width="55%" valign="top" bgcolor= "#dsd8c7">
<h2> Upload</h2>

<p style="font-size:85%">Upload your file so that it may be secured.</p>

<h2> View Files</h2>
<p style="font-size:85%; font-family:courier">View previous files that you have uploaded and encrypted.</p>

<h2>Share a file</h2>
<p style="font-size:85%; font-family:courier">Share your personal files over a secure connection with friends.</p>

<h2>Files shared with me</h2>
<p style="font-size:85%; font-family:courier">View files that have securely been shared with you.</p>

<h2>Friends</h2>
<p style="font-size:85%; font-family:courier">View people that you trust to send your files to.</p>
</td>
<!-- ========Right Column (Pictures)=========-->
<td width="25%" valign="top" bgcolor="#999f8e">

<p><img src="https://pbs.twimg.com/profile_images/2260491801/ava_400x400.png"alt ="3d printer" style="width:304px;height:228px;"></p>
<p> <img src="http://easttec.wpengine.netdna-cdn.com/wp-content/uploads/images/products/invisiblesecrets/features/encrypt.png"alt ="3d printer" style="width:304px;height:228px;"></p> 
<p><img src="https://cdn2.iconfinder.com/data/icons/seo-web-optimization-ultimate-part1/512/file_sharing-512.png"alt ="3d printer" style="width:304px;height:228px;"></p> ></p>
</td>
</tr>

<!-- ========Footer Section=========-->
<tr><td colspan="3" align="center" height="20" bgcolor="#777d6a">Copyright © The Squad</td></tr>
<table>
</body>



	